{% extends 'bases/admin_base.html' %}
{% load static %}

{% block title %} {% endblock title %}

{% block meta_tags %}
    <meta name="author" content=""/>
    <meta name="description" content=""/>
    <meta name="keywords"
          content="">
{% endblock meta_tags %}
{% block extra_style %}

{% endblock extra_style %}
{% block main_content %}

    <!--begin::Post-->
    <div class="post d-flex flex-column-fluid" id="kt_post">
        <!--begin::Container-->
        <div id="kt_content_container" class="container-fluid">

            <!--begin::Tables Widget 11-->
            <div class="card mb-5 mb-xl-8">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bolder fs-3 mb-1">Users</span>

                    </h3>
                    <div class="card-toolbar">
                        {% if perms.auth.add_user %}
                            <a href="#" class="btn btn-sm btn-light-primary" data-bs-toggle="modal"
                               data-bs-target="#add_new_user">
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr075.svg-->
                                <span class="svg-icon svg-icon-2">
												<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                     viewBox="0 0 24 24" fill="none">
													<rect opacity="0.5" x="11.364" y="20.364" width="16" height="2"
                                                          rx="1" transform="rotate(-90 11.364 20.364)"
                                                          fill="currentColor"/>
													<rect x="4.36396" y="11.364" width="16" height="2" rx="1"
                                                          fill="currentColor"/>
												</svg>
											</span>
                                <!--end::Svg Icon-->Add New User</a>
                        {% endif %}
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body py-3">

                    <!--begin::Table-->
                    <table id="custom_table"
                           class="table table-striped table-row-bordered gy-5 gs-7 border rounded">
                        <thead class="bg-dark">
                        <tr class="fw-bolder text-white">
                            <th class=" min-w-100px">Name</th>

                            <th class=" min-w-130px text-end">Action</th>
                        </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <!--begin::Name-->
                                        <div class="d-flex justify-content-start flex-column">
                                            <a href="#"
                                               class="text-dark  text-hover-primary mb-1 fs-6">{{ user.username }}</a>
                                            <a href="#"
                                               class="text-muted text-hover-primary text-muted d-block fs-7">
                                                <span class="text-dark">Email</span>: {{ user.email }}</a>
                                        </div>
                                        <!--end::Name-->
                                    </div>
                                </td>

                                <td class="text-end">
                                    {% if perms.auth.change_user %}
                                        <a
                                                data-bs-toggle="modal"
                                                data-bs-target="#update_user"
                                                data-id="{{ user.id }}"
                                                data-first-name="{{ user.first_name }}"
                                                data-last-name="{{ user.last_name }}"
                                                data-email="{{ user.email }}"
                                                data-password="{{ user.password }}"
                                                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 edit-button">
                                            <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
                                            <span class="svg-icon svg-icon-3">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                         height="24" viewBox="0 0 24 24" fill="none">
																		<path opacity="0.3"
                                                                              d="M21.4 8.35303L19.241 10.511L13.485 4.755L15.643 2.59595C16.0248 2.21423 16.5426 1.99988 17.0825 1.99988C17.6224 1.99988 18.1402 2.21423 18.522 2.59595L21.4 5.474C21.7817 5.85581 21.9962 6.37355 21.9962 6.91345C21.9962 7.45335 21.7817 7.97122 21.4 8.35303ZM3.68699 21.932L9.88699 19.865L4.13099 14.109L2.06399 20.309C1.98815 20.5354 1.97703 20.7787 2.03189 21.0111C2.08674 21.2436 2.2054 21.4561 2.37449 21.6248C2.54359 21.7934 2.75641 21.9115 2.989 21.9658C3.22158 22.0201 3.4647 22.0084 3.69099 21.932H3.68699Z"
                                                                              fill="currentColor"/>
																		<path d="M5.574 21.3L3.692 21.928C3.46591 22.0032 3.22334 22.0141 2.99144 21.9594C2.75954 21.9046 2.54744 21.7864 2.3789 21.6179C2.21036 21.4495 2.09202 21.2375 2.03711 21.0056C1.9822 20.7737 1.99289 20.5312 2.06799 20.3051L2.696 18.422L5.574 21.3ZM4.13499 14.105L9.891 19.861L19.245 10.507L13.489 4.75098L4.13499 14.105Z"
                                                                              fill="currentColor"/>
																	</svg>
																</span>
                                            <!--end::Svg Icon-->
                                        </a>
                                    {% endif %}
                                    {% if perms.auth.change_permission %}
                                        <a
                                                href="{% url 'edit_user_permission' user.id %}"
                                                class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1 edit-button">
                                            <!--begin::Svg Icon | path: assets/media/icons/duotune/general/gen019.svg-->
                                            <span class="svg-icon svg-icon-3"><svg
                                                    xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                                    viewBox="0 0 24 24" fill="none">
<path d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z"
      fill="currentColor"/>
<path opacity="0.3"
      d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z"
      fill="currentColor"/>
</svg></span>
                                            <!--end::Svg Icon-->
                                        </a>
                                    {% endif %}
                                    {% if perms.auth.delete_user %}
                                        <button
                                                onclick="deleteRule('{{ user.id }}')"
                                                class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm">
                                            <!--begin::Svg Icon | path: icons/duotune/general/gen027.svg-->
                                            <span class="svg-icon svg-icon-3">
																	<svg xmlns="http://www.w3.org/2000/svg" width="24"
                                                                         height="24" viewBox="0 0 24 24" fill="none">
																		<path d="M5 9C5 8.44772 5.44772 8 6 8H18C18.5523 8 19 8.44772 19 9V18C19 19.6569 17.6569 21 16 21H8C6.34315 21 5 19.6569 5 18V9Z"
                                                                              fill="currentColor"/>
																		<path opacity="0.5"
                                                                              d="M5 5C5 4.44772 5.44772 4 6 4H18C18.5523 4 19 4.44772 19 5V5C19 5.55228 18.5523 6 18 6H6C5.44772 6 5 5.55228 5 5V5Z"
                                                                              fill="currentColor"/>
																		<path opacity="0.5"
                                                                              d="M9 4C9 3.44772 9.44772 3 10 3H14C14.5523 3 15 3.44772 15 4V4H9V4Z"
                                                                              fill="currentColor"/>
																	</svg>
																</span>
                                            <!--end::Svg Icon-->
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>

                        {% endfor %}
                        </tbody>
                    </table>
                    <!--end::Table-->

                </div>
                <!--begin::Body-->
            </div>
            <!--end::Tables Widget 11-->

        </div>
        <!--end::Container-->
    </div>
    <!--end::Post-->

    <!--begin::Modal - New Card-->
    <div class="modal fade" id="add_new_user" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-650px">
            <!--begin::Modal content-->
            <div class="modal-content">
                <!--begin::Modal header-->
                <div class="modal-header">
                    <!--begin::Modal title-->
                    <h2>Add New User</h2>
                    <!--end::Modal title-->
                    <!--begin::Close-->
                    <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                        <span class="svg-icon svg-icon-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
									<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                          transform="rotate(-45 6 17.3137)" fill="currentColor"/>
									<rect x="7.41422" y="6" width="16" height="2" rx="1"
                                          transform="rotate(45 7.41422 6)" fill="currentColor"/>
								</svg>
							</span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Close-->
                </div>
                <!--end::Modal header-->
                <!--begin::Modal body-->
                <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                    <!--begin::Form-->
                    <form id="add_new_user_form" class="form" action="{% url 'users' %}" method="post">
                        {% csrf_token %}
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-7 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
                                <span class="required">First Name</span>

                            </label>
                            <!--end::Label-->
                            <input type="text" class="form-control form-control-solid" placeholder="" name="first_name"
                                   value="" required/>
                        </div>
                        <div class="d-flex flex-column mb-7 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
                                <span class="required">Last Name</span>

                            </label>
                            <!--end::Label-->
                            <input type="text" class="form-control form-control-solid" placeholder="" name="last_name"
                                   value="" required/>
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-7 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
                                <span class="required">Email</span>

                            </label>
                            <!--end::Label-->
                            <input type="email" class="form-control form-control-solid" placeholder="" name="user_email"
                                   value="" required/>
                        </div>
                        <div class="d-flex flex-column mb-7 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
                                <span class="required">Password</span>

                            </label>
                            <!--end::Label-->
                            <input type="password" class="form-control form-control-solid" placeholder=""
                                   name="user_password"
                                   value="" required/>
                        </div>
                        <!--end::Input group-->


                        <!--begin::Actions-->
                        <div class="text-center pt-15">
                            <button type="submit" id="add_new_user_submit" class="btn btn-primary">
                                <span class="indicator-label">Save User</span>
                                <span class="indicator-progress">Please wait...
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                        </div>
                        <!--end::Actions-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Modal body-->


            </div>
            <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
    </div>
    <!--end::Modal - New Card-->

    <!--begin::Modal - New Card-->
    <div class="modal fade" id="update_user" tabindex="-1" aria-hidden="true">
        <!--begin::Modal dialog-->
        <div class="modal-dialog modal-dialog-centered mw-650px">
            <!--begin::Modal content-->
            <div class="modal-content">
                <!--begin::Modal header-->
                <div class="modal-header">
                    <!--begin::Modal title-->
                    <h2>Update User</h2>
                    <!--end::Modal title-->
                    <!--begin::Close-->
                    <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
                        <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
                        <span class="svg-icon svg-icon-1">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                     fill="none">
									<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
                                          transform="rotate(-45 6 17.3137)" fill="currentColor"/>
									<rect x="7.41422" y="6" width="16" height="2" rx="1"
                                          transform="rotate(45 7.41422 6)" fill="currentColor"/>
								</svg>
							</span>
                        <!--end::Svg Icon-->
                    </div>
                    <!--end::Close-->
                </div>
                <!--end::Modal header-->
                <!--begin::Modal body-->
                <div class="modal-body scroll-y mx-5 mx-xl-15 my-7">
                    <!--begin::Form-->
                    <form id="edit_new_user_form" class="form" action="{% url 'update_user' %}" method="post">
                        {% csrf_token %}
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-7 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
                                <span class="required">First Name</span>

                            </label>
                            <!--end::Label-->
                            <input type="text" class="form-control form-control-solid" placeholder="" name="first_name"
                                   value="" id="first_name_edit" required/>

                            <input type="hidden" name="user_id" id="user_id">
                        </div>
                        <div class="d-flex flex-column mb-7 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
                                <span class="required" required>Last Name</span>

                            </label>
                            <!--end::Label-->
                            <input type="text" class="form-control form-control-solid" placeholder="" name="last_name"
                                   value="" id="last_name_edit" required/>
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="d-flex flex-column mb-7 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
                                <span class="required">Email</span>

                            </label>
                            <!--end::Label-->
                            <input type="email" class="form-control form-control-solid" placeholder="" name="user_email"
                                   value="" id="email_edit" required/>
                        </div>
                        <div class="d-flex flex-column mb-7 fv-row">
                            <!--begin::Label-->
                            <label class="d-flex align-items-center fs-6 fw-bold form-label mb-2">
                                <span class="required">Password</span>

                            </label>
                            <!--end::Label-->
                            <input type="password" class="form-control form-control-solid" placeholder=""
                                   name="user_password"
                                   value="" id="password_edit" required/>
                        </div>
                        <!--end::Input group-->


                        <!--begin::Actions-->
                        <div class="text-center pt-15">
                            <button type="submit" id="update_user_submit" class="btn btn-primary">
                                <span class="indicator-label">Save User</span>
                                <span class="indicator-progress">Please wait...
									<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
                            </button>
                        </div>
                        <!--end::Actions-->
                    </form>
                    <!--end::Form-->
                </div>
                <!--end::Modal body-->


            </div>
            <!--end::Modal content-->
        </div>
        <!--end::Modal dialog-->
    </div>
    <!--end::Modal - New Card-->




{% endblock main_content %}

{% block extra_script %}
    <script src="{% static 'admin/js/custom/user.js' %}"></script>
    <script>
        document.querySelectorAll('.edit-button').forEach(button => {
            button.addEventListener('click', function () {
                var userId = this.getAttribute('data-id');
                var firstName = this.getAttribute('data-first-name')
                var lastName = this.getAttribute('data-last-name')
                var email = this.getAttribute('data-email')
                var password = this.getAttribute('data-password')
                console.log(userId)
                console.log(firstName)
                console.log(lastName)
                console.log(email)
                console.log(password)

                document.getElementById('user_id').value = userId;
                document.getElementById('first_name_edit').value = firstName;
                document.getElementById('last_name_edit').value = lastName;
                document.getElementById('email_edit').value = email;
                document.getElementById('password_edit').value = password;
            })
        })
    </script>

    <script>
        function deleteRule(id) {
            Swal.fire({
                html: `Are you sure you want to delete this user?`,
                icon: "question",
                buttonsStyling: false,
                showCancelButton: true,
                confirmButtonText: "Yes!",
                cancelButtonText: 'Nope, cancel it',
                customClass: {
                    confirmButton: "btn btn-danger",
                    cancelButton: 'btn btn-primary'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.replace("/user/delete/" + id);
                }
            });
        }
    </script>
{% endblock extra_script %}		